@import "@/styles/abstracts";

.AboutSection {
  background-color: $primary-color-3;

  img {
    object-fit: cover;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    .heading {
      text-align: center;
      padding-top: 78px;
      padding-bottom: 87px;

      @include maxQ("tablet-s") {
        padding-top: 20px;
        padding-bottom: 27px;
      }
    }

    & > div {
      display: flex;
    }

    .first {
      align-items: center;
      padding: 0 129px;

      @include maxQ("tablet-s") {
        padding: 0 25px;
      }

      .picture {
        margin-left: 44px;

        @include maxQ("extraLarge") {
          width: 85%;
          height: 85%;
        }

        @include maxQ("tablet-s") {
          width: 50%;
          height: 50%;
        }

        @include maxQ("small") {
          width: 40%;
          height: 40%;
        }
      }
    }

    .second {
      align-items: center;
      padding: 0 118px 0 129px;
      margin-top: 178px;

      @include maxQ("extraLarge") {
        padding: 0 68px 0 65px;
        margin-top: 88px;
      }

      @include maxQ("tablet-s") {
        padding: 0 28px 0 25px;
        margin-top: 28px;
      }

      .firstpicture {
        position: relative;
        top: -156px;

        @include maxQ("extraLarge") {
          top: -50px;

          width: 70%;
          height: 70%;
        }

        @include maxQ("tablet-s") {
          top: -20px;

          width: 30%;
          height: 30%;
        }

        @include maxQ("small") {
          top: -15px;

          width: 25%;
          height: 25%;
        }
      }

      .secondpicture {
        margin-left: 49px;
        margin-right: 90px;

        @include maxQ("extraLarge") {
          width: 70%;
          height: 70%;

          margin-left: 39px;
          margin-right: 60px;
        }

        @include maxQ("tablet-s") {
          width: 30%;
          height: 30%;

          margin-left: 19px;
          margin-right: 30px;
        }

        @include maxQ("small") {
          width: 25%;
          height: 25%;

          margin-left: 16px;
          margin-right: 25px;
        }
      }
    }

    .third {
      align-items: center;
      padding: 0 66px 0 29px;
      margin-top: 87px;

      @include maxQ("extraLarge") {
        padding: 0 26px 0 59px;
        margin-top: 47px;
      }

      @include maxQ("tablet-s") {
        padding: 0 16px 0 39px;
        margin-top: 27px;
      }
   
      @include maxQ("small") {
        padding: 0 14px 0 30px;
        margin-top: 22px;
      }

      .picture {
        margin-right: 92px;

        @include maxQ("extraLarge") {
          width: 100%;
          height: 100%;

          margin-right: 42px;
        }

        @include maxQ("tablet-s") {
          width: 50%;
          height: 50%;

          margin-right: 22px;
        }

        @include maxQ("small") {
          width: 40%;
          height: 40%;

          margin-right: 18x;
        }
      }
    }

    .fourth {
      margin-top: 133px;
      padding: 0 28px 104px 152px;

      @include maxQ("extraLarge") {
        margin-top: 83px;
        padding: 0 68px 74px 82px;
      }

      @include maxQ("tablet-s") {
        margin-top: 33px;
        padding: 0 28px 34px 42px;
      }

      @include maxQ("small") {
        margin-top: 28px;
        padding: 0 23px 31px 35px;
      }

      .firstpicture {
        margin-left: 192px;
        margin-right: 23px;

        @include maxQ("extraLarge") {
          width: 70%;
          height: 70%;

          margin-left: 47px;
          margin-right: 14px;
        }

        @include maxQ("tablet-s") {
          width: 30%;
          height: 30%;

          margin-left: 27px;
          margin-right: 7px;
        }

        @include maxQ("small") {
          width: 25%;
          height: 25%;

          margin-left: 22px;
          margin-right: 6px;
        }
      }

      .secondpicture {
        position: relative;
        top: -133px;

        @include maxQ("extraLarge") {
          width: 70%;
          height: 70%;

          top: -63px;
        }

        @include maxQ("tablet-s") {
          width: 30%;
          height: 30%;

          top: -33px;
        }

        @include maxQ("small") {
          width: 25%;
          height: 25%;

          top: -30px;
        }
      }
    }
  }
}

.heading {
  font-size: 50px;
  font-weight: 700;
  color: $primary-color-2;
  line-height: 68px;
}

.content {
  font-size: 40px;
  font-weight: 400;
  color: $primary-color-1;
}

@include maxQ("mobile") {
  .AboutSection {
    display: none;
  }
}
