@import "@/styles/abstracts";

.AboutSection {
  background-color: $primary-color-4;
  .wrapper {
    padding: 0 14px;

    .heading {
      padding-bottom: 2em;
      padding-top: 1.2em;
      text-align: center;
    }

    .first {
      display: flex;

      & > *:first-child {
        margin-top: 5px;
        margin-left: 4px;
      }

      & > *:last-child {
        margin-left: 11px;
      }
    }

    .second {
      display: flex;
      margin-top: 26px;

      .pictures {
        display: flex;

        & > *:first-child {
          position: relative;
          top: -22px;
          margin-left: 12px;
          margin-right: 4px;
        }

        & > *:last-child {
          margin-right: 13px;
        }
      }

      & > *:last-child {
        margin-top: 5px;
      }
    }

    .third {
      display: flex;
      margin-top: 6px;

      & > *:first-child {
        margin-right: 46px;
      }
    }

    .fourth {
      display: flex;
      margin-top: 25px;

      & > *:first-child {
        top: -22px;
        position: relative;
        margin-left: 12px;
      }

      & > *:last-child {
        margin-top: 10px;
        align-self: flex-start;
        margin-left: 22px;
      }
    }

    .bottom {
      display: flex;
      margin-top: 10px;

      & > *:first-child {
        position: relative;
        top: -18px;
        margin-left: 7px;
      }

      & > *:last-child {
        position: relative;
        top: -18px;
        align-self: flex-end;
        margin-left: 4px;
      }
    }
  }
}

@media screen and (min-width: 391px) {
  .AboutSection {
    display: none;
  }
}
