@import "@/styles/abstracts";

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: center;
  padding: 172px 0 59px 0;

  & > * {
    position: relative;
    width: 240px;
  }

  .icon {
    position: absolute;
    transform: translateY(-100%) translateX(-50%);
    left: 50%;
  }

  .Viber .icon {
    top: 24px;
  }

  .Telegram .icon {
    top: 8px;
  }
}

@include maxQ("tablet-s") {
  .container {
    padding: 82px 0 39px 0;
    font-size: 16px;

    & > * {
      position: relative;
      width: 100%;
    }

    .Viber .icon {
      top: 0;
      width: 40px;
      height: 40px;
    }
    .WhatsApp .icon {
      width: 40px;
      height: 40px;
    }
    .Telegram .icon {
      top: 0;
      width: 40px;
      height: 40px;
    }
  }
}

@include maxQ("mobile") {
  .container {
    font-size: 5px;
    line-height: 7px;
    padding: 42px 0 29px 0;

    .Viber .icon {
      top: 0;
      width: 29px;
      height: 29px;
    }
    .WhatsApp .icon {
      width: 24px;
      height: 24px;
    }
    .Telegram .icon {
      top: 0;
      width: 26px;
      height: 26px;
    }
  }
}

