@import "@/styles/abstracts";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 63px;

  @include maxQ("medium") {
    padding: 0 46px;
  }

  @include maxQ("tablet-s") {
    padding: 0 38px;
  }

  @include maxQ("mobile") {
    padding: 0 28px;
  }

  .heading {
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;

    margin-top: 46px;
    margin-bottom: 52px;

    @include maxQ("medium") {
      font-size: 18px;
      line-height: 20px;

      margin-bottom: 38px;
      margin-top: 42px;
    }

    @include maxQ("tablet-s") {
      font-size: 14px;
      line-height: 16px;

      margin-bottom: 30px;
      margin-top: 32px;
    }

    @include maxQ("mobile") {
      font-size: 9px;
      line-height: 12px;

      margin-bottom: 14px;
      margin-top: 14px;
    }
  }

  .mainFocus {
    margin-bottom: 118px;

    @include maxQ("medium") {
      margin-bottom: 64px;
    }

    @include maxQ("tablet-s") {
      margin-bottom: 54px;
    }

    @include maxQ("mobile") {
      margin-bottom: 34px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    & > *:not(:last-child) {
      margin-bottom: 13px;

      @include maxQ("medium") {
        margin-bottom: 9px;
      }

      @include maxQ("tablet-s") {
        margin-bottom: 6px;
      }

      @include maxQ("mobile") {
        margin-bottom: 4px;
      }
    }

    .button {
      margin-top: 30px;
      margin-bottom: 220px;

      @include maxQ("medium") {
        margin-top: 22px;
        margin-bottom: 150px;
      }

      @include maxQ("tablet-s") {
        margin-top: 18px;
        margin-bottom: 100px;
      }

      @include maxQ("mobile") {
        margin-top: 13px;
        margin-bottom: 77px;
      }
    }
  }

  .error {
    color: #c72121;
    margin-top: 43px;

    @include maxQ("medium") {
      font-size: 18px;
      margin-top: 28px;
    }

    @include maxQ("tablet-s") {
      font-size: 14px;
      margin-top: 20px;
    }

    @include maxQ("mobile") {
      font-size: 10px;
      margin-top: 13px;
    }
  }
}

.success {
  display: flex;
  gap: 54px;
  align-items: center;
  justify-content: center;
  font-size: 22px;

  @include maxQ("medium") {
    font-size: 16px;
    gap: 30px;

    & > * {
      height: 20px;
      width: 20px;
    }
  }

  @include maxQ("tablet-s") {
    font-size: 11px;
    gap: 18px;

    & > * {
      height: 15px;
      width: 15px;
    }
  }
  @include maxQ("mobile") {
    font-size: 9px;
    gap: 14px;

    & > * {
      height: 10px;
      width: 10px;
    }
  }
}
